binaryornot==0.3.0
click==3.3
cookiecutter==1.0.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8
django-toolbelt==0.0.1
gunicorn==19.3.0
Jinja2==2.7.3
MarkupSafe==0.23
mock==1.0.1
psycopg2==2.6
PyYAML==3.11
selenium==2.45.0
static3==0.6.1
whitenoise==1.0.6
